<div class="container">
    <div class="page-header">
        <h2>{{ header }}</h2>
    </div>
</div>
<div class="container" layout="row" layout-align="space-around">
        <!--<div class="md-whiteframe-z5" style="min-width: 400px; min-height: 150; padding-top: 30px; padding-left: 30px; padding-right: 30px; overflow: auto">
            <div class="content" layout="col">
                <md-button class="md-raised md-primary" ng-click="addRover()" style="width:100%">ADD ROVER</md-button>
            </div>
            
        </div>-->

        <div class="container" layout="col">
            <md-button ng-click="moveRover(loginData)"  style="width:100%" class="md-raised md-primary">MOVE ROVER</md-button>
        </div>
</div>
